<div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4 col-9">
        <div class="card bg-light shodow my-sm-5 my-3">
            <div class="card-header">
                <h3 class="text-center">
                    Register
                </h3>
            </div>
            <div class="card-body">
                <form  class="form" novalidate>
                    <div>
                        <div class="form-group">
                          <label class="control-label">Name</label>
                          <input type="text" class="form-control" placeholder="John Doe">
                        </div>
                         <div class="form-group">
                           <label class="control-label">Email</label>
                           <input type="email" class="form-control" placeholder="john@example.com">
                         </div>
                        <div class="form-group">
                            <label  class="control-label">Username</label>
                            <input type="text" class="form-control" placeholder="johndoe">
                        </div>
                         <div class="form-group">
                           <label class="control-label">Password</label>
                           <input type="password" class="form-control" placeholder="Enter Password">
                         </div>
                          <div class="form-group">
                            <label class="control-label">Repeat Password</label>
                            <input type="password" class="form-control" placeholder="Repeat Password">
                          </div>

                    </div>
                     <div class="form-group mt-2 mt-sm-3 clearfix">
                       <button type="reset" class="btn btn-warning">Reset</button>
                       <button type="submit" class="btn btn-primary float-right">Register</button>
                     </div>
                     
                </form>
                <div class="text-center clearfix mt-3">
                    <p><b>Already Here?</b>&nbsp;<a [routerLink]="'/login'" class="card-link">Login</a></p>
                </div>
            </div>
        </div>
        
        
    </div>
</div>