<div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4 col-9">
        <div class="card bg-light shodow my-sm-5 my-3">

            <div class="card-header">
                <h3 class="text-center">
                    Login
                </h3>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="login()" novalidate>
                    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
                    <p class="">
                        <b><a [routerLink]="'/forgort-password'" class="card-link">Forgot Password?</a></b>
                    </p>
                    <div class="form-group mt-2 mt-sm-3 clearfix">
                        <button type="reset" [disabled]="form.pristine" class="btn btn-warning">Reset</button>
                        <button type="submit" [disabled]="!form.valid" class="btn btn-success float-right">Login</button>
                    </div>
                </form>
                <div class="text-center clearfix mt-3">
                    <p><b>New Here?&nbsp;<a [routerLink]="'/register'" class="card-link">Register</a></b></p>
                </div>
            </div>
        </div>
    </div>
</div>