<div class="row">
    <div class="col-12">
        <h3 class="text-center">
            Contact Us
        </h3>
        <div class="row">
            <div class="col-sm-5">
                <address>
                  Address <br>

                  Ntinda kisasi road <br>

                  Talk To Us <br>
                  +256751921465 <br>

                  General Support <br>

                  ugsalons@gmail.com
                  
                </address>
            </div>
            <div class="col-sm-7">
                <div class="form">
                    <h3 class="text-center">Send Us A Message</h3>
                    <form [formGroup]="form" (ngSubmit)="login()">
                        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
                        <div class="form-group mt-2 mt-sm-3 clearfix">
                            <button type="reset" class="btn btn-warning">Reset</button>
                            <button type="submit" class="btn btn-primary float-right">Send</button>
                        </div>
                    </form>
                    <div class="margin-top">
                        {{ form.value | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>